
#mainView {
    max-width: 1500px;
    min-width: 800px;
    margin: auto;
    height: 100vh;
    background-color: #d98a37;
}

header.ant-layout-header {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 77px;
}

ul.navMenu {
    margin: auto auto 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #555;
    background-color: #eed;
    border-radius:25px;
}

main.ant-layout-content {
    padding-top: 20px;
    background-color: rgba(219, 201, 239, 0.55);
}

main.topContent {
    height: 100px;
    flex: none;
    background-color: #8B5DF6;
}

.centered {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #21064b;
    font-size: x-large;
    font-family: "Yu Gothic UI Semibold";
}

.ant-layout-sider-children {
    background-color: #655e7b;
}
.ant-menu-item-only-child {
    background-color: #b5acff;
}

#image {
    padding-left: 20px;
    padding-right: 20px;
}

#description {
    padding: 0 100px 0 20px;
}

p.description {
    padding: 10px 0 10px 0;
    text-align: justify;
}
