
#mainView {
    max-width: 1500px;
    min-width: 800px;
    margin: auto;
    height: 100vh;
}

header.ant-layout-header {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 77px;
}

ul.navMenu {
    margin: auto auto 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #555;
    background-color: #eed;
    border-radius:25px;
}

main.ant-layout-content {
    padding-top: 20px;
}

main.topContent {
    height: 100px;
    flex: none;
}

.centered {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.ant-layout-sider-light {
    background: white;
}

#image {
    padding-left: 20px;
    padding-right: 20px;
}

#description {
    padding: 0 100px 0 20px;
}

p.description {
    padding: 10px 0 10px 0;
    text-align: justify;
}
